<b>Comments within your Code</b>

A vital piece of code writing is including comments within your code. Comments are chunks of text that are written above, below, alongside, etc. lines of code within a cell that is marked as "Code" (or in command mode). These chunks of text will be visable to you, but will NOT be executed as part of the rest of the code. Basically, you are marking your code with commentary -- for your own understanding or to allow someone else reading your code to better understand what you were doing. Get into the practice of writing descriptive comments along with all of your code. While you are learning variaous skills, it will be invaluable for you to notate the purpose of each section of code. Throughout the course lessons, you will find valuable information in the comments that I include in my code. 

To create a comment, insert a hashtag before a line of text within a cell that is in command mode. The text will turn green and you will know that it is a comment. See below for what a comment looks like within a cell!

In [ ]:
# comments

In [ ]:
           # this is just for you!

<b>DATA TYPES</b>

Basic data types are <b>integer</b>, <b>float</b>, and <b>string</b>.

In [ ]:
123      # this is an integer

In [ ]:
1.23     # this is a float

In [ ]:
"123"    # this is a string

In [ ]:
'123'    # this is a string, too

In [ ]:
"I'm a string."

In [ ]:
'I"m a string as well.'

In [ ]:
"\"Hey, me too\", said the next one."   # use an escape key ('\') before double quote (")

<b>ASSIGNING A VALUE TO A VARIABLE</b>

You can assign any value you choose to any variable you choose. When considering what to name your variables, keep the variable names (1) descriptive, (2) short, and (3) without spaces!

To assign a value to a variable name, you will first write the name of the variable and then add a single equal sign (=), on the right of the equal sign you will write out the value you want to assign that variable.

In [ ]:
# <variable name> = <data value>

x = 123    # variable name is x and it has an integer value of 123
y = 1.23   # variable name is y and it has a float value of 1.23
z = "123"  # varialbe name is z and it has a string value of "123"
z1 = '123' # varialbe name is z1 and it has a string value of '123'

In [ ]:
x          # this statement will print the value of x

In [ ]:
rate = 2.625%

In [ ]:
rate = 0.02625
rate

In [ ]:
status = True
status

In [ ]:
# variable names start with a letter or underscore (_)

_12th = 3
_12th

In [ ]:
12th = 100
12th

In [ ]:
th12=100
th12

In [ ]:
# variable naming convention

camelType = "camel"
camelType

In [ ]:
snake_type = "snake"
snake_type

In [ ]:
snaketype = "snake"
snaketype

In [ ]:
first_name = "Big"
first_name

In [ ]:
first_name = 9
first_name

In [ ]:
x          # this statement will print the value of x

In [ ]:
y
z          # what happened?

<b>PRINTING THE VALUES OF A VARIABLE</b>

The <b>PRINT FUNCTION</b> commands the system to output the values of one or multiple variables. This function comes in handy when you want to see multiple values output together (combating the problem we just saw above). The print function also allows you to display more complex data than just a single value. We will explore more of what this looks like later on -- but for now, get familiar with how the print function works.

In [ ]:
print("Hello, world")

In [ ]:
print(x)
print(y)
print(z)

In [ ]:
# this is a Python comment line
print("Python is an interpreted programming language")

In [ ]:
print("One of Python's strength is its diverse community.")       # this is a comment, too

In [ ]:
print("text with\t1 tab\t\t2 tabs")

In [ ]:
print("this is \nmultiple\nlines\nof text")

In [ ]:
print("""this is 
multiple 
lines 
of 
strings in Python""")    #doc-string or block string

In [ ]:
message = "I am a string"
message

In [ ]:
'Today is Monday.'   # you can also use a single quote

In [ ]:
"Today's goal"       # you can use a single quote inside a string

In [ ]:
'Today"s goal'       # you can use a double quote inside a string

In [ ]:
"My goal is to \"Master\" Python"       # you can use an escape

In [ ]:
# status = True
print(status)

In [ ]:
first_name = "Cookie"
last_name = "Monster"

In [ ]:
print(first_name)            # where did first_name come from?
print(last_name)

In [ ]:
print(first_name, last_name)

In [ ]:
message = "My goal is to \"Master\" Python"
print(message)

In [ ]:
print("What\ta\nbeautiful\nday!")

In [ ]:
print(first_name, last_name)  # you can pass multiple arguements

In [ ]:
first_name = "Big"                              # change value of first_name
last_name = "Bird"                              # change value of last_name
print(first_name, last_name)

In [ ]:
print(1, 2, 3, 4, 5)

In [ ]:
print(1, 2, 3, 4, 5, sep='*')

In [ ]:
print(1, 2, 3, 4, 5, end='**')
print(1, 2, 3, 4, 5, end='**')

In [ ]:
EOL = '|'
DELIMITER = '\t'
print(1, 2, 3, 4, 5, sep=DELIMITER, end=EOL)      # user all upper cases for constant variable
print(1, 2, 3, 4, 5, sep=DELIMITER, end=EOL)

## Exercise 1: 
Assign a message to a variable and print that message. 
Then change the value of the variable to a new message and print the new message

In [13]:
print(f"This took much longer than i expected , but shorter than i realized . ")

This took much longer than i expected , but shorter than i realized .

# Arithmetic Operators

In [ ]:
5 + 4

In [ ]:
numb1 = 25
numb2 = 5
numb1 / numb2    # 25/5

In [ ]:
numb2 = 4
numb1 // numb2

In [ ]:
numb1 / numb2

In [ ]:
numb1 % numb2   # 25 % 4 ->   25/4 = 6*4+1

In [ ]:
numb1 % numb2 + 1        # what is going on?

In [ ]:
numb1 % (numb2 + 1)  # 25 % (4+1)

In [ ]:
1 + 25 % 4

In [ ]:
result = 0
result = result + 3
print(result)

In [ ]:
result = 0
result += 3
print(result)

In [ ]:
new_value += 2  # new_value = new_value + 2
print(new_value)

In [ ]:
result *= 5
print(result)

In [ ]:
result /= 5
print(result)

In [ ]:
10 / 2

In [ ]:
#Formatted String

In [ ]:
first_name = "Shakeela"
last_name = "George"

In [14]:
print("The main character is {first_name} {last_name}.")

The main character is {first_name} {last_name}.

In [19]:
print(f"The main character is {first_name} {last_name}.")

NameError: name 'first_name' is not defined

In [ ]:
unit_price = 99.99
qty = 53
print(f"Subtotal: ${unit_price * qty}")

In [ ]:
print(f"Subtotal: ${unit_price * qty :,}")  # commas in thousands place

In [ ]:
print(f"Subtotal: ${unit_price * qty :.2f}") #2 digits after the decimal point

In [ ]:
print(f"Subtotal: ${unit_price * qty :,.2f}") #in dollar amount format

In [ ]:
x = 123.45143
print(f"{x:.3f}")

In [ ]:
rate = 0.03255    # morgage rate 3.255%
print(f"Current rate: {rate:.2%}")

In [ ]:
print(f"Current rate: {rate:.9%}")

In [ ]:
total = 0
total += qty * unit_price      # use values from previous cell  99.99*53

qty = 10
unit_price = 100    #10*100
total += qty * unit_price
print(f"${total:,.2f}")

In [ ]:
price = 49.95
qty = 10
tax_rate = 0.065

subtotal = price * qty
sales_tax = tax_rate * subtotal
total = subtotal +sales_tax

print(total)
print(f"${total:,.2f}")

In [ ]:
message = "secret"
print(message+message)

In [ ]:
print(message*5)

## Exercise 2
Write a program to calculate the sales tax and total price (including sales tax) for 10 books 
when the price of a book is $49.95 and tax rate is 6.5%

In [21]:
# initialize variables
total_price = 0
book_price = 49.95
tax_rate = 6.5%
qty = 10
sales_tax = 0
total= 0
amount= tax_rate * book_price 
taxes
# compute 

unit_price = 99.99
qty = 53
print("Subtotal: ${unit_price * qty}")

# print out to console in nicely formatted text
print("Price: $ {book_price} ")
print("Quantity":{qty} ")
print("Subtotal:$ {book_price * qty} ")
print("Taxes : $ {tax_rate * book_price}")
print("Total : $"{ ((tax_rate*book price) + (book_price * qty) )

SyntaxError: invalid syntax (1411661042.py, line 4)

# Comparison Operators

In [ ]:
10 < 20

In [ ]:
15 >= 9

In [ ]:
3 == 9

In [ ]:
3 != 9

In [ ]:
check = "mesage"
check == "message"

In [ ]:
check != "message"

In [ ]:
check = "message"
check < "mess"

In [ ]:
"age" in check

In [ ]:
"xyz" not in check

In [ ]:
#Boolean

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
False or False

In [ ]:
a = True
# b = False
print((123 == 123) and a)              # using Boolean Table/Truth Table

In [ ]:
#a = True
b = False
print((123 == 123) and b)              # using Boolean Table/Truth Table

In [ ]:
xpos = 100
ypos = 200
MAX = 300

In [ ]:
xpos < MAX

In [ ]:
ypos < MAX

In [ ]:
(xpos < MAX) and (xpos < ypos)

In [ ]:
print((xpos < MAX) and (ypos < xpos))

In [ ]:
comp1 = xpos < MAX
comp2 = ypos < xpos
print(comp1)
print(comp2)
print(comp1 or comp2)
print((xpos < MAX) or (ypos < xpos))